body {
    font-family: 'Roboto Condensed', sans-serif;
}
.tnr-font {
    font-family: "Times New Roman" !important;
    font-style: italic;
}
.italic-font-style {
    font-style: italic;
    text-align: justify;
}
.title{
    text-align: center;
}
.title h2{
    font-weight:bold;
}
.navbar li a {
    color: #555;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.cover {
    background: url(../img/banner_home.gif) center center no-repeat, linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
    height: calc(100vh - 52px);
    position: relative;
    background-size: cover;
    background-position: top;
}
.intro-header img {
    width: 100%;
}
.navbar {
    margin-bottom: 0px;
}
section {
    margin: 20px 0px;
}
section.tieuchi {
    margin: 60px 0px 40px 0px;
}
.tieuchi-box h4 {
    margin: 0px;
}
.tieuchi-box .box {
    height: 80px;
    width: 80px;
    border: 5px solid #00000059;
    margin: 0px 10px 10px 0px;
}
.tieuchi-box p {
    font-style: italic;
}
.image-shadow {
    box-shadow: -30px 30px #8c9da7;
    margin-left: 30px;
    margin-bottom: 80px;
}
#intro {
    margin-bottom: 50px
}
#intro h2 {
    font-weight: bold;
    color: #6e8282;
    margin-bottom: 30px;
    line-height: 40px;
    margin-left: 80px;
}
#intro img {
    margin: auto;
}
#intro p {
    font-size: 22px;
    padding-right: 50px;
}
#cchml {
    background: url(../img/home_002.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;
    position: relative;
    background-size: cover;
    background-color: #e4e4e4;
    padding-bottom: 50px;
}
#cchml p {
    font-size: 20px;
    padding: 0 80px;
    line-height: 40px;
}
.btn.btn-light:hover {
    background: #333;
    color: #fff;
    -webkit-transition: background 0.5s, color 0.5s;
    transition: background 0.5s, color 0.5s;
}
.btn.btn-light {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 25px;
    color: #333;
    border: 1px solid black;
    border-radius: 0px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.cchml-img {
    max-height: 350px;
}
.overflow-hidden {
    overflow: hidden;
}
section#tintuc {
    margin-bottom: 60px;
}
.tintuc-item {
    position: relative;
}
.tintuc-item img {
    cursor: pointer;
}
.tintuc-text {
    background-color: #e3e5e5;
    padding: 20px;
    cursor: pointer;
    text-align: left;
}
.sec-title {
    margin-top: 40px;
    padding: 20px;
    font-weight: bold;
    background: url(../img/h_bg.png) top center no-repeat;
}
section#khoahoc {
    background: url(../img/home_012.gif), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    position: relative;
    background-size: cover;
    padding: 88px 0px 100px 0px;
    margin: 0px;
}
#khoahoc h1 {
    color: #859a9c;
    font-size: 56px;
    font-weight: bold;
}
#khoahoc .btn-dark {
    border: 2px solid #fff;
    font-size: 30px;
    padding: 10px 65px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    transition: 0.5s background;
}
#khoahoc .btn-dark:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s background;
}
section#nkht {
    margin-bottom: 80px;
}
#nkht .grey-bg {
    background-color: #e5e5e5;
    padding: 60px 50px;
    height: 412px;
}
footer.footer {
    background: url(../img/footer.gif);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    position: relative;
    background-size: cover;
    padding: 100px 0px 60px 0px;
    margin: 0px;
}
.text-bold {
    font-weight: bold;
}
#inputSEmail {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    color: #fff;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
}
#inputSEmail::placeholder {
    color: #fff;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}
.route {
    padding: 7px 0;
}
.route a {
    color: black;
}
.route img {
    margin: 0 5px;
}
.search {
    position: relative;
}
.search input {
    width: 300px;
}
.search img {
    position: absolute;
    right: 10px;
    top: 10px;
}
#about-us .title h3 {
    margin-top: 0;
    margin-bottom: 50px;
}
p {
    line-height: 30px;
    font-size: 18px;
}
section .brown-bg {}
section#quote {
    position: relative;
    margin: 50px 0;
}
blockquote {
    border-left: none;
    text-align: center;
    padding: 0 350px;
}
blockquote h2 {
    color: rgb(31, 87, 110);
    font-style: italic;
    line-height: 50px;
}
blockquote:before {
    font-family: "Georgia", serif;
    content: "“";
    position: absolute;
    left: 25vw;
    top: -80px;
    font-size: 10em;
    color: rgb(208, 186, 172);
    font-weight: normal;
}
blockquote:after {
    font-family: "Georgia", serif;
    content: "”";
    position: absolute;
    right: 25vw;
    bottom: -150px;
    font-size: 10em;
    color: rgb(208, 186, 172);
    font-weight: normal;
}

section#quote h3 {
    font-style: italic;
    line-height: 50px;
}
#about-us .brown-bg {
    position: absolute;
    width: 120%;
    height: 368px;
    background-color: rgb(234, 223, 217);
    top: -20px;
    z-index: -1;
    padding: 50px 170px 50px 80px;
}
#about-us h1.tnr-font {
    line-height: 50px;
}
section#ask h1 {
    line-height: 50px;
    margin-bottom: 50px;
}
section#ask h1.left {
    padding-left: 100px;
    color: rgb(102, 89, 81);
    font-size: 48px;
    line-height: 60px;
}
section#ask h1.right {
    padding-right: 70px;
    color: rgb(130, 158, 169);
    font-size: 48px;
    line-height: 60px;
    margin: 50px 0;
}
#ask p.two-col {
    -webkit-columns: 20px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 20px 2;
    /* Firefox */
    columns: 20px 2;
    text-align: justify;
    font-style: italic;
    font-weight: 300;
}
#ask .blue-bg {
    position: absolute;
    width: 120%;
    background-color: rgb(243, 243, 243);
    z-index: -1;
    top: 100px;
    padding: 70px 260px 50px 70px;
    text-align: justify;
    direction: rtl;
    margin-left: 50px;
}
#ask .brown-bg {
    position: absolute;
    width: 120%;
    background-color: rgb(234, 223, 217);
    right: 20px;
    z-index: -1;
    padding: 70px 70px 50px 260px;
    text-align: justify;
    margin-right: 70px;
    top: 100px;
}
.lightbrowbg {
    background-color: rgb(234, 223, 217);
}
#thanks {
    margin: 200px 0 100px 0;
    text-align: center;
}
#thanks h3 {
    padding: 0 300px;
    line-height: 50px;
    font-style: italic;
    font-size: 30px;
}
.web-name {
    font-weight: bold;
    color: rgb(31, 87, 110);
}
.web-name.pink {
    color: rgb(225, 169, 180);
}
.multiple-items .slick-next, .multiple-items .slick-prev {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 40px;
    z-index: 1;
}
.multiple-items .slick-next:before, .multiple-items .slick-prev:before {
    color: #fff;
    font-family: FontAwesome;
}
.multiple-items .slick-prev:before {
    content: "\f060";
}
.multiple-items .slick-next:before {
    content: "\f061";
}
.multiple-items .slick-prev {
    left: -75px;
}
.multiple-items .slick-next {
    right: -75px;
}
/* the slides */

.multiple-items .slick-slide {
    margin-left: 27px;
}
/* the parent */

.multiple-items .slick-list {
    margin-left: -27px;
}

.multiple-items .title, .other-posts .title{
    text-align: left;
}

#tam-su{
    margin-top: 0;
}


#tam-su .title {
    margin-bottom: 30px;
}

#tam-su .posts h3, #tam-su .posts h4{
    display: inline-block;
    margin:0;
    font-weight: bold;
}
#tam-su .posts p{
    text-align: justify;
}

#tam-su p{
    margin-top: 5px;
}

#tam-su .post{
    margin-top: 30px;
}

#tam-su .post .post-thumbnail{
    display: inline-block;
    width: 25%;
    float: left;
}
#tam-su .post .post-info{
    display: inline-block;
    width: 75%;
    float: left;
}
#tam-su img[alt="play"]{
    margin-bottom: 5px;
    margin-right: 5px;
}
#tam-su .other-posts{
    margin-top: 30px;
}
#tam-su .other-posts .title{
    margin-bottom: 15px ;
}
@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 1400px) {
    blockquote:before {
        left: 32vw;
    }
    blockquote:after {
        right: 32vw;
    }
}